<div class="crm-container">
  <div crm-ui-debug="beneficiaries"></div>
  <div crm-ui-debug="campaigns"></div>
  <div crm-ui-debug="projects"></div>
  <div crm-ui-debug="searchParams"></div>
  <div class="crm-form-block">
    <div class="crm-vol-widgets crm-vol-manage-widgets"></div>
    <div class="clear"></div>
    <br />
    <a href="#/volunteer/manage_appeal/{{projectId}}/0" class="button"><span><div class="icon ui-icon-plus"></div>{{ts('Add an Opportunity')}}</span></a><br /><br />
    <span></span>
    <div class="active_appeal_wrapper">
      <h3>{{ts("Active Opportunities")}}</h3>
      <table  class="display dataTable no-footer" role="grid">
        <thead>
          <tr role="row">
            <th ng-click="sortBy('title')" class="ui-state-default crm-vol-manage-beneficiaries"> {{ts("Title")}}
              <span class="sortorder" ng-show="propertyName === 'title'" ng-class="{reverse: reverse}"></span>
            </th>
            <th ng-click="sortBy('active_fromdate')" class="ui-state-default crm-vol-manage-beneficiaries">{{ts("Start")}}
              <span class="sortorder" ng-show="propertyName === 'active_fromdate'" ng-class="{reverse: reverse}"></span>
            </th>
            <th ng-click="sortBy('active_todate')" class="ui-state-default crm-vol-manage-beneficiaries">{{ts("End")}}
              <span class="sortorder" ng-show="propertyName === 'active_todate'" ng-class="{reverse: reverse}"></span>
            </th>
            <th class="ui-state-default crm-vol-manage-location">{{ts("Enabled")}}</th>
            <th class="ui-state-default crm-vol-manage-location">{{ts("Action")}}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="appeal in appeals | filter:searchParams | orderBy:propertyName:reverse track by appeal.id" ng-if="appeal.active_todate >= today_date " role="row">
            <td class="crm-vol-manage-appeal">
              <span class="crm-vol-manage-appeal-title">{{ appeal.title }}</span>
            </td>
            <td class="crm-vol-manage-appeal">
              <span class="crm-vol-manage-appeal-fromdate">{{ appeal.active_fromdate }}</span>
            </td>
            <td class="crm-vol-manage-appeal">
              <span class="crm-vol-manage-appeal-todate">{{ appeal.active_todate }}</span>
            </td>
            <td class="crm-vol-manage-appeal">
              <input ng-checked="appeal.is_appeal_active==1" class="is_appeal_active" type="checkbox"   ng-click="updateAppeal($event, appeal.id)" />
            </td>
            <td class="crm-vol-manage-appeal">
              <a class="appeal_url" href="#/volunteer/appeal/{{ appeal.id }}">View</a>
              <a class="edit_appeal" href="#/volunteer/manage_appeal/{{projectId}}/{{ appeal.id }}">Edit</a>
              <a class="delete_appeal" ng-click="deleteAppeal(appeal.id)">Delete</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <br />
    <br />
    <div class="inactive_appeal_wrapper">
      <h3>{{ts("Expired Opportunities")}}</h3>
      <table  class="display dataTable no-footer" role="grid">
        <thead>
          <tr role="row">
            <th ng-click="sortByExpiredTable('title')" class="ui-state-default crm-vol-manage-beneficiaries"> {{ts("Title")}}
              <span class="sortorder" ng-show="propertyNameExpiredTable === 'title'" ng-class="{reverseExpiredTable: reverseExpiredTable}"></span>
            </th>
            <th ng-click="sortByExpiredTable('active_fromdate')" class="ui-state-default crm-vol-manage-beneficiaries">{{ts("Start")}}
              <span class="sortorder" ng-show="propertyNameExpiredTable === 'active_fromdate'" ng-class="{reverseExpiredTable: reverseExpiredTable}"></span>
            </th>
            <th ng-click="sortByExpiredTable('active_todate')" class="ui-state-default crm-vol-manage-beneficiaries">{{ts("End")}}
              <span class="sortorder" ng-show="propertyNameExpiredTable === 'active_todate'" ng-class="{reverseExpiredTable: reverseExpiredTable}"></span>
            </th>
            <th class="ui-state-default crm-vol-manage-location">{{ts("Action")}}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="appeal in appeals | filter:searchParams | orderBy:propertyNameExpiredTable:reverseExpiredTable track by appeal.id" ng-if="appeal.active_todate < today_date " role="row">
            <td class="crm-vol-manage-appeal">
              <span class="crm-vol-manage-appeal-title">{{ appeal.title }}</span>
            </td>
            <td class="crm-vol-manage-appeal">
              <span class="crm-vol-manage-appeal-fromdate">{{ appeal.active_fromdate }}</span>
            </td>
            <td class="crm-vol-manage-appeal">
              <span class="crm-vol-manage-appeal-todate">{{ appeal.active_todate }}</span>
            </td>
            <td class="crm-vol-manage-appeal">
              <a class="appeal_url" href="#/volunteer/appeal/{{ appeal.id }}">View</a>
              <a class="edit_appeal" href="#/volunteer/manage_appeal/{{projectId}}/{{ appeal.id }}">Edit</a>
              <a class="delete_appeal" ng-click="deleteAppeal(appeal.id)">Delete</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>