<div class="crm-container">
  <div class="active_filters" ng-if="active_search.advanced_search_option==true || active_search.beneficiary!== undefined">
    <span class="active_filter_heading"><b>Active Filters : </b></span>
    <div class="active_filter_content">
      <div ng-if="active_search.advanced_search_option==true">
        <div class="filter_data" ng-if="active_search.advanced_search.fromdate!== undefined">
          <span><b>From Date : </b>{{ active_search.advanced_search.fromdate }}</span>
        </div>
        <div class="filter_data" ng-if="active_search.advanced_search.todate!== undefined">
          <span><b>To Date : </b>{{ active_search.advanced_search.todate }}</span>
        </div>
        <div ng-if="active_search.advanced_search.show_appeals_done_anywhere === undefined">
          <div ng-if="active_search.location_finder_way!== undefined">
            <div class="filter_data" ng-if="active_search.location_finder_way== 'use_my_location'">
              <span><b>Latitude : </b>{{ active_search.advanced_search.proximity.lat }}, </span>
              <span><b>Longitude : </b>{{ active_search.advanced_search.proximity.lon }}</span>
            </div>
            <div class="filter_data" ng-if="active_search.location_finder_way== 'use_postal_code'">
              <span><b>Postal Code : </b>{{ active_search.advanced_search.proximity.postal_code }}</span>
            </div>
            <span class="filter_data"><b>Radius : </b>{{ active_search.advanced_search.proximity.radius }} {{ active_search.advanced_search.proximity.unit }}</span>
          </div>
        </div>
        <div class="filter_data" ng-if="active_search.advanced_search.show_appeals_done_anywhere == true">
          <span><b>Only show Opportunities that can be done from anywhere : </b>True</span>
        </div>
      </div>
      <div class="beneficiary_wrapper filter_data" ng-if="active_search.beneficiary!== undefined">
         <span><b>Beneficiary : </b>{{ beneficiary_name }}</span>
      </div>
    </div>
  </div>
  <div crm-ui-debug="volOppData()"></div>
  <div crm-ui-debug="searchParams"></div>
  <div crm-ui-debug="proximityUnits"></div>
  <div crm-ui-debug="countries"></div>
  <div class="crm-vol-opp-search">
    <div class="crm-block ui-tabs ui-widget ui-widget-content ui-corner-all">
      <div class="crm-group">
        <div class="pull-left search-box">
          <input type="text" name="searchAppeal" ng-model="search" placeholder="{{ ts('Search') }}" ng-model-options='{ debounce: 1000 }'
             ng-change='searchRes()'/>
          <i class="fa fa-search"></i>
        </div>
        <div class="pull-left m-5">
          <div class="volunteer_appeal_result_count_message">{{totalRec}} {{ ts('Opportunities') }}</div>
          <div class="advance_filter_wrapper">
            <button ng-click="openModal()"><i class="fa fa-filter" aria-hidden="true"></i></button>
          </div>
          <div class="reset_filter">
              <button ng-click="resetFilter()">Reset Filters</button>
          </div>
        </div>
        <div class="pull-right m-5">
          <button class="grid_view_button" ng-class="{grid_active : activeGrid === 'list_view'}" ng-click="changeview('~/volunteer/AppealList.html', 'list_view')"><i class="fa fa-bars"></i></button>
          <button class="grid_view_button" ng-class="{grid_active : activeGrid === 'grid_view'}" ng-click="changeview('~/volunteer/AppealGrid.html', 'grid_view')"><i class="fa fa-th-large"></i></button>
          <select ng-model="sortValue" ng-options="option.val for option in options" ng-change="sort()">
          </select>
          <i class="fa fa-sort-amount-desc" aria-hidden="true"></i>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <!--Modal-->
  <div id="openModal" ng-class="modalClass" ng-hide="!modalClass">
    <div>
      <div class="modal-header">
        <button ng-click="closeModal()"><i class="fa fa-times" aria-hidden="true"></i></button> 
        <h2>Filter / Advanced Search</h2>
      </div>
      <div class="modal-body advance_filter_body">
        <div class="filter-model">
          <div class="tab"> 
            <button class="tablinks"  ng-click="selectTab(1)" ng-class="{active:isActive(1)}"><i class="fa fa-caret-right" aria-hidden="true">   Date and Location</i></button>
            <button ng-repeat="customFieldGroup in custom_fieldset_volunteer" class="tablinks"   ng-click="selectTab(customFieldGroup.id)" ng-class="{active:isActive(customFieldGroup.id)}"><i class="fa fa-caret-right" aria-hidden="true">   {{customFieldGroup.title}}</i></button>
          </div>
          <div id="London" class="tabcontent" ng-show="isActive(1)">
            <form name="volOppSearchForm" crm-ui-id-scope>
              <div>
                <label>Between<span crm-ui-visible="crmIsRequired" class="crm-marker" title="This field is required." style="visibility: inherit;">*</span></label>
                <input crm-ui-id="volOppSearchForm.date_start" crm-ui-datepicker="{time: false}"  ng-model="date_start" ng-required />
                <label crm-ui-for="volOppSearchForm.date_end">and</label>
                <input crm-ui-id="volOppSearchForm.date_end" crm-ui-datepicker="{time: false}"  ng-model="date_end" />
                <div class="posta-code-wrapper"> Within 
                  <select ng-disabled="show_appeals_done_anywhere" ng-model="radius" ng-options="option.value as option.label for option in radiusvalue" ng-init="radius = radiusvalue[0].value" >
                  </select>
                  <select ng-disabled="show_appeals_done_anywhere" ng-model="unit" ng-options="option.value as option.label for option in proximityUnits" ng-init="unit = proximityUnits[1].value">
                  </select> of
                  <div class="location_finder_wrapper">
                    <div class="location_postal_code">
                      <input type="radio" ng-model="location_finder_way" value="use_postal_code" [name="use_postal_code"]> <label for="postal_code">Postal Code</label>
                      <div class="postal_code_field">
                        <input placeholder="Postal Code" ng-disabled="show_appeals_done_anywhere" ng-show="location_finder_way == 'use_postal_code'" type="text" class="postal-code-input" ng-model="postal_code">
                      </div>
                    </div>
                    <div class="location_my_location">
                      <input type="radio" ng-model="location_finder_way" value="use_my_location" ng-click="getPosition()" [name="use_my_location"]> <label for="my_location">Use My Location</label>
                      <div ng-show="location_finder_way == 'use_my_location'" class="lat_long_wrapper">
                        Latitude:  <input ng-disabled="show_appeals_done_anywhere" type="text" name="let" ng-model="lat">
                        Longitude:  <input ng-disabled="show_appeals_done_anywhere" type="text" name="lon" ng-model="lon">
                      </div>
                    </div>
                    <a ng-if="location_finder_way" ng-click="clear()" class="crm-hover-button crm-clear-link ng-scope" title=""><i class="crm-i fa-times"></i></a>
                  </div>
                </div>
                <br>
                <div class="show-opp pull-left">
                  <input ng-model="show_appeals_done_anywhere" type="checkbox" value="show_appeals_done_anywhere" name="show_appeals_done_anywhere" > {{ ts('Only show Opportunities that can be done from anywhere') }}
                </div>
              </div>
            </form>
          </div>
          <div ng-repeat="customFieldGroup in custom_fieldset_volunteer" class="tabcontent custom_fied_content" ng-show="isActive({{customFieldGroup.id}})">
            <form name="volAppealCustomFieldSearch" crm-ui-id-scope>
              <fieldset crm-render-field-collection="customFieldGroup.appeal_custom_field_groups" model="appealCustomFieldData"></fieldset>
            </form>
          </div>
          <br>
        </div>
      </div>
      <div class="modal-footer clearfix advance_filter_footer">
          <button type="submit" ng-click="advanceFilter()">Search</button>
        </div>
    </div>
  </div>
  <!--end modal-->
</div>
<!-- Shopping Cart -->
<div class="crm-vol-half-responsive crm-vol-opp-cart" ></div>
<div class="clear"></div>
<!-- Results -->
<div class="crm-vol-opp-results messages status no-popup" ng-if="appeals.length==0">
  <div class="icon inform-icon"></div>
  {{ts('No results found. Please try different search criteria.')}}
</div>
<div ng-include="currentTemplate"></div>
<div class="pull-right">
  <div  ng-show="appeals.length>0">
    <button ng-disabled="currentPage == 1" ng-click="prevPageData()">
      <i class="fa fa-backward" aria-hidden="true"></i>
    </button>         
    {{currentPage}}/{{numberOfPages}}
    <button ng-disabled="currentPage >= totalRec/pageSize" ng-click="nextPageData()">
      <i class="fa fa-forward" aria-hidden="true"></i>
    </button>
  </div>
</div>