   <div class="crm-container">
   <div crm-ui-debug="volOppData()"></div>
   <div crm-ui-debug="searchParams"></div>
   <div crm-ui-debug="proximityUnits"></div>
   <div crm-ui-debug="countries"></div>

   <div class="crm-vol-opp-search">    
      <form name="volAppSearchForm">
         <div class="crm-block ui-tabs ui-widget ui-widget-content ui-corner-all">
            <div class="crm-group">
               <!--<div class="pull-left">
                  <input type="text" name="searchAppeal" ng-model="search"  ng-model-options='{ debounce: 1000 }'
        ng-change='searchRes()'/>
               </div>-->
               <div class="pull-left search-box">
                <input type="text" name="searchAppeal" ng-model="search" placeholder="Search Appeal" ng-model-options='{ debounce: 1000 }'
                ng-change='searchRes()'/>
                <i class="fa fa-search"></i>
                </div>
               <div class="pull-right m-5">
                  <button ng-click="changeview('~/volunteer/AppealList.html')"><i class="fa fa-bars"></i></button>                     
                  <button ng-click="changeview('~/volunteer/AppealGrid.html')"><i class="fa fa-th-large"></i></button>
                 

                  <select ng-model="sortValue" ng-options="option.val for option in options" ng-change="sort()">
                  </select>

                  <i class="fa fa-sort-amount-desc" aria-hidden="true"></i>

                  <button ng-click="openModal()"><i class="fa fa-filter" aria-hidden="true"></i></button>             
               </div>
               <div class="clearfix"></div>
            </div>
         </div>
   </div>
   </form>

   <!--Modal-->
   <div id="openModal" ng-class="modalClass" ng-hide="!modalClass">
      <div>         
        <div class="modal-header">
           <button ng-click="closeModal()"><i class="fa fa-times" aria-hidden="true"></i></button> 
             <button><i class="fa fa-expand" aria-hidden="true"></i></button>
                
         <h2>Filter / Advanced Search</h2>    
        </div>   

          <div class="filter-model">
          <div class="tab"> 
            <button class="tablinks"  ng-click="selectTab(1)" ng-class="{active:isActive(1)}"><i class="fa fa-caret-right" aria-hidden="true">   Date and Location</i></button>
            <button class="tablinks"   ng-click="selectTab(2)" ng-class="{active:isActive(2)}"><i class="fa fa-caret-right" aria-hidden="true">   Volunteer Skills Sought</i></button>
            <button class="tablinks"   ng-click="selectTab(3)" ng-class="{active:isActive(3)}"><i class="fa fa-caret-right" aria-hidden="true">   Availability By Day</i></button>

          </div>
          <div id="London" class="tabcontent" ng-show="isActive(1)">            
            <form name="volOppSearchForm" crm-ui-id-scope>
             <!-- <div crm-ui-field="{name: 'volOppSearchForm.date_start', title: ts('Between')}" class="crm-vol-opp-time"> -->
             <div>
              <label>Between</label>
              <input crm-ui-id="volOppSearchForm.date_start" crm-ui-datepicker="{time: false}"  ng-model="date_start" />
              <label crm-ui-for="volOppSearchForm.date_end">and</label>
              <input crm-ui-id="volOppSearchForm.date_end" crm-ui-datepicker="{time: false}"  ng-model="date_end" />
              <div class="posta-code-wrapper">
                Within <select>
                <option>2</option>
                <option>5</option>
                <option>10</option>
                <option>25</option>
                <option>100</option>
              </select> 
              <select>
                <option>mi</option>
                <option>km</option>
              </select> of postal code <input type="text" class="postal-code-input"></div>
              <br>
               <div >
               Lat:  <input type="text" name="let">
               Log:  <input type="text" name="log">
              </div> 
              <br>
              <div >
                OR <button ng-click="getPosition()">Use my location</button> <span>{{latlog}}</span>
              </div>
              <br>
              <div class="show-opp pull-left">
                  <input type="checkbox" > Only show apportunity that can be done from anywhere
              </div>
            </div>
          </form>
          </div>
          <div class="tabcontent" ng-show="isActive(2)">            
            <p>Volunteer skill sought.</p> 
          </div>
          <div class="tabcontent" ng-show="isActive(3)">            
            <p>availability by day.</p>
          </div>
          <br>    
          <div class="modal-footer">
            <button type="submit">Done</button>  
         </div>
        </div>
      </div>
    </div>

   <!--end modal-->
</div>
<!-- Shopping Cart -->
<div class="crm-vol-half-responsive crm-vol-opp-cart" >
</div>
<div class="clear"></div>
<!-- Results -->
<!--  <div class="crm-vol-opp-results messages status no-popup" >
   <div class="icon inform-icon"></div>
   {{ts('No results found. Please try different search criteria.')}}
   </div> -->
<div ng-include="currentTemplate"></div>

<div class="pull-right">            
    <div  ng-show="appeals.length>0">
    <button ng-disabled="currentPage == 1" ng-click="prevPageData()">
    <i class="fa fa-backward" aria-hidden="true"></i>           
    </button>         
    {{currentPage}}/{{numberOfPages}}
    <button ng-disabled="currentPage >= totalRec/pageSize" ng-click="nextPageData()">
    <i class="fa fa-forward" aria-hidden="true"></i>
    </button>          
    </div>
</div>